h1
{
    color: #49ccfc;
    font-size: 40px;
    text-align: left;
}

body
{
    margin: 0;
    padding: 0;
    background-color: #090e1e;
}

p
{
    color: #fff;
    font-size: 20px;
    text-align: left;
}

li
{
    color: #fff;
    font-size: 20px;
    text-align: left;
}

.catImage
{
    width: 5%;
    height: 4%;
}

a
{
    color: #49ccfc;
    font-size: 20px;
    text-align: left;
}

.outputText
{
    color: #49ccfc;
    font-size: 20px;
    text-align: left;
}

button
{
    color: #fff;
    background-color: #182b50;
    font-size: 20px;
    text-align: left;
}